<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOOGOO Agenda</title>
    <link rel="stylesheet" href="../style/styleAgenda.css">
    <link rel="icon" href="calendar.png">
    <script src="../scr/script.js" defer></script>
</head>
<body>
    <header>
        <h1>Agenda</h1>
        <nav>
            <button id="today">Aujourd'hui</button>
            <button id="week">Semaine</button>
            <button id="month">Mois</button>
            <button id="createEvent" >Ajouter </button>
            <div class="profile-container">
                <img id="profile" src="../res/profile.png" alt="Profil">
                <div id="controlPanel" class="control-panel">
                    <ul>
                        <li>Voir le profil</li>
                        <li>Paramètres</li>
                        <li>Déconnexion</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div id="month-navigation">
            <button id="prev-month">&lt;</button>
            <span id="month-name"></span>
            <button id="next-month">&gt;</button>
        </div>
        <div id="weekdays">
            <div>Lundi</div>
            <div>Mardi</div>
            <div>Mercredi</div>
            <div>Jeudi</div>
            <div>Vendredi</div>
            <div>Samedi</div>
            <div>Dimanche</div>
        </div>
        <div id="calendar"></div>
    </main>
 
</body>
</html>
