<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOOGOO Agenda</title>
    <link rel="stylesheet" href="../style/styleAgenda.css">
    <link rel="icon" href="calendar.png">
    <script src="../scr/script.js" defer></script>
    <script src="../scr/scriptAddEvent.js" defer></script>
</head>
<body>
    <header>
        <h1>Agenda</h1>
        <nav>
            <button id="today">Aujourd'hui</button>
            <button id="week">Semaine</button>
            <button id="month">Mois</button>
            <button id="createEvent" >Ajouter </button>
            <div class="profile-container">
                <img id="profile" src="../res/profile.png" alt="Profil">
                <div id="controlPanel" class="control-panel">
                    <ul>
                        <li>Voir le profil</li>
                        <li>Paramètres</li>
                        <li>Déconnexion</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div id="month-navigation">
            <button id="prev-month">&lt;</button>
            <span id="month-name"></span>
            <button id="next-month">&gt;</button>
        </div>
        <div id="weekdays">
            <div>Lundi</div>
            <div>Mardi</div>
            <div>Mercredi</div>
            <div>Jeudi</div>
            <div>Vendredi</div>
            <div>Samedi</div>
            <div>Dimanche</div>
        </div>
        <div id="calendar"></div>


        <div id="event_popup" class="popup">
            <div class="popup-content">
                <span class="close_button">&times;</span>
                <form id="eventForm">
                    <label for="title">Titre:</label>
                    <input type="text" id="title" name="title" required>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" required>
                    <label for="time">Heure:</label>
                    <input type="time" id="time" name="time">
                    <label for="category">Catégorie:</label>
                    <select name="category" id="category">
                        <option value="">--Choisir une catégorie--</option>
                        <option value="ecole">Ecole</option>
                        <option value="sport">Sport</option>
                        <option value="new">+/Ajouter une catégorie</option>
                    </select>
                    <label for="description">Description:</label>
                    <textarea id="description" name="description"></textarea>
                    <label for="groupe">Membres:</label>
                    <select name="groupe" id="groupe">
                        <option value="">--Choisir un/des membre(s)--</option>
                        <option value="zou">ZOU</option>
                        <option value="ba">BA</option>
                        <option value="new">+/Ajouter un membre</option>
                    </select>
                    <button type="submit">Ajouter</button>
                </form>
                <button id="close_button">Fermer</button>   
            </div>
        </div>
    </main>
 
</body>
</html>
