<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styleAgenda.css">
    <link rel="icon" href="/res/calendar.png">
    <script type="module" src="/scripts/script.js"></script>
    <script type="module" src="/scripts/scriptAddEvent.js" defer></script>
</head>
<body>
