<nav>
    <button id="today">Jour</button>
    <button id="week">Semaine</button>
    <button id="month">Mois</button>
    <button id="createEvent"><img src="/res/add.png" style="display: inline-block; width: 1em; filter: invert(1); transform:translateY(3px);"> Event</button>
    <div class="profile-container">
        <img id="profile" src="/res/profile.png" alt="Profil">
        <div id="controlPanel" class="control-panel">
            <ul>
                <li><a href="/profile">Voir le profil</a></li>
                <li><a href="/admin">Gestionaire</a></li>
                <li><a href="/api/logoff">Déconnexion</a></li>
            </ul>
        </div>
    </div>
</nav>
