<nav>
    <button id="today">Aujourd'hui</button>
    <button id="week">Semaine</button>
    <button id="month">Mois</button>
    <button id="createEvent"><img src="/res/add.png" style="display: inline-block; width: 1em; filter: invert(1); transform:translateY(3px);"> Event</button>
    <div class="profile-container">
        <img id="profile" src="/res/profile.png" alt="Profil">
        <div id="controlPanel" class="control-panel">
            <ul>
                <li><a href="/profile">Voir le profil</a></li>
                <li>Paramètres</li>
                <li>Déconnexion</li>
            </ul>
        </div>
    </div>
</nav>
